<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>View Books</title>
    <link rel="stylesheet" href="{% static 'css/bookstyle.css' %}">
  </head>
  <body>
    <table width="100%" cellspacing="0" cellpadding="0" bgcolor="#ff4d4d" >
          <tr>
            <td>
              <table  align="center"  cellspacing="0" cellpadding="20">
                <tr>
                  <td>
                     <span class="icon" >
                     <a href="http://localhost:8000/books/view/">View Books</a>
                     <ion-icon name="eye-outline" class="eye"></ion-icon>
                     </span>
                    </td>
                    <td>
                     <span class="icon">
                     <a href="http://localhost:8000/books/insert/">Insert New Book</a></br>
                     <ion-icon name="add-outline" class="eye"></ion-icon>
                     </span>
                    </td>
                    <td>
                     <span class="icon">
                     <a href="http://localhost:8000/books/logout/">Logout</a>
                     <ion-icon name="log-out-outline" class="eye"></ion-icon>
                     </span>
                     </td>
                      <td>
                     <span class="icon">
                     <a href="http://localhost:8000/books/search/">Search Book</a>
                     <ion-icon name="search-outline" class="eye"></ion-icon>
                     </span>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>

    <div id="main">
      <h2 class="h2">View New Book Record</h2>



      <table class="t1">
        <tr class="tr">
          <th>Title</th>
          <th>Price</th>
          <th>Author</th>
          <th>Publisher</th>
        </tr>
        {% for book in books %}
        <tr class="tr">
           <td>{{book.title}}</td>
           <td>{{book.price}}</td>
           <td>{{book.author}}</td>
           <td>{{book.publisher}}</td>
           
           <td class="endd">
          <a href="http://localhost:8000/books/edit?bookid={{book.id}}" class="end">Edit</a>
           <ion-icon name="pencil-outline"></ion-icon>
           </td>
           <td class="endd">
          <a href="http://localhost:8000/books/delete?bookid={{book.id}}" class="end">Delete</a>
          <ion-icon name="trash-outline"></ion-icon>
          </td>

        </tr>
          {% endfor %}
      </table>
  </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  </body>
</html>
